html, body, #map, #elevation-div { height: 400px; width: 100%; padding: 0; margin: 0; } 
#map { height: 200px; } 
#elevation-div {	height: 25%; font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif; } 
  
  .leaflet-control-minimap{
  display: none;
  }
  
  .elevation-summary {
  background: white;
  }
