<LimitExcept GET HEAD>
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order Allow,Deny
        Deny from all
    </IfModule>
</LimitExcept>

<IfModule mod_rewrite.c>
    RewriteEngine On
    # Change only the next line according to your server 
    RewriteBase /wordpress/wp-content/plugins/PostMapTableView/leaflet_map_tiles/
    # Do not change after this line
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} \.(jpeg|jpg|png|webp)$ [NC]
    RewriteRule ^(.+)$ tileserver.php/?tile=$1 [L,QSA]
</IfModule>