parameters:
	level: 8
	paths:
		- inc
		- leaflet_map_tiles
		- wp_post_map_view_simple.php
		- uninstall.php
	scanDirectories:
		- inc
		- leaflet_map_tiles
	treatPhpDocTypesAsCertain: true