.pmtv_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 5px;
}

.box1 {
    border-top: 1px solid lightslategray;
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid lightslategray;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

[id="post_table_wrapper"] {
    display: flex;
    justify-content: center;
}

[id="map0"] {
    width: 100%;
    aspect-ratio: 1;
}